<label class="floating-label text-left">
	<span>{{label()}}</span>
	<input
		class="input w-full"
		[max]="maxDate()"
		[type]="type()"
		[class.input-error]="control.invalid && control.touched"
		[class.input-success]="control.valid && control.touched"
		[placeholder]="label()"
		[formControl]="control"
	/>
	@if (control.hasError('required') && control.touched) {
		<div class="validator-hint text-error text-xs visible">{{label()}} is required</div>
	}
	@if (control.hasError('email') && control.touched) {
		<div class="validator-hint text-error text-xs visible">Invalid email address</div>
	}
	@if (control.hasError('minlength') && control.touched) {
		<div class="validator-hint text-error text-xs visible">{{label()}} must be at least {{control.errors?.['minlength'].requiredLength}} characters</div>
	}
	@if (control.hasError('maxlength') && control.touched) {
		<div class="validator-hint text-error text-xs visible">{{label()}} must be at most {{control.errors?.['maxlength'].requiredLength}} characters</div>
	}
	@if (control.hasError('passwordMismatch') && control.touched) {
		<div class="validator-hint text-error text-xs visible">Passwords don't match</div>
	}
</label>
